<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2026 Hyprism Launcher
  SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Hyprism Launcher"
      Manufacturer="Hyprism Team"
      Version="$(var.ProductVersion)"
      UpgradeCode="1918E4D4-0781-45A5-A1B8-1A79C9A5D77C"
      Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Hyprism is already installed" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="HyprismIcon" SourceFile="$(var.IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="HyprismIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Hyprism">
        <Files Include="$(var.PublishDir)\**" />
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
