[Desktop Entry]
Name=HyPrism
Comment=All in one launcher and mod manager fotr Hytale
Exec=hyprism-launcher-wrapper.sh
Icon=com.hyprismteam.hyprism
Terminal=false
Type=Application
Categories=Game;
Keywords=hytale;launcher;gaming;mods;
StartupWMClass=HyPrism
StartupNotify=true
