# Copyright (C) 2026 Hyprism Launcher
# SPDX-License-Identifier: GPL-3.0-only

[Desktop Entry]
Type=Application
Name=Hyprism Launcher
Comment=Native Hytale launcher
Exec=hyprism
Icon=io.github.hyprismteam.Hyprism
Categories=Game;Utility;
Terminal=false
StartupNotify=true
